
<div class="container">
    <div class="container-centralizada">
        <% @header.each do |header| %> 
            <p class="image-container">
                <%= image_tag header.icon_url, class: "img-responsive header-i" %>
            </p> 
            <p class="h-description">
                <%= header.description.html_safe %>
            </p>
        <% end %>

        <% @video.each do |video| %>
            <h2><%= video.title %></h2>
            <div class="video-container">
                <%= image_tag 'lines2.png', class:"img-lines-video" %>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= extract_youtube_video_id(video.url) %>" frameborder="0" allowfullscreen></iframe>
            </div>
        <% end %>
        <div class="box">
            <div class="list">
                <ul class="ul1">
                    <li>PLANEJAMENTO DE TREINO</li>
                    <li>CORREÇÃO POSTURAL</li>
                    <li>PLANO ALIMENTAR</li> 
                    <%= image_tag 'img-border.png', class: "img-border" %>
                    <%= image_tag 'lines2.png', class:"img-lines" %>
                    <div class="retangle">
                        <div class="point-elipse">
                        </div>
                    </div>
                    <div class="box-elipse">
                        <div class="elipse1">
                            <div class="elipse2">
                                <div class="elipse3">
                                </div>
                            </div>
                        </div>
                    </div>
                </ul>
                
            </div>
            <div class="list list-2">
                <ul class="ul2">
                    <li>SUPLEMENTAÇÃO</li>
                    <li>CORREÇÃO BIOMECÂNICA DE EXERCÍCIOS</li>
                    <li>SAÚDE INTESTINAL</li> 
                    <%= image_tag 'img-border.png', class: "img-border ib-2" %>
                    <%= image_tag 'lines2.png', class:"img-lines il-2" %>
                    <div class="retangle ret2">
                        <div class="point-elipse">
                        </div>
                    </div>
                    <div class="box-elipse be-2">
                        <div class="elipse1">
                            <div class="elipse2">
                                <div class="elipse3">
                                </div>
                            </div>
                        </div>
                    </div>
                </ul>
                
            </div>
        </div>


        <%#= image_tag 'lines.png', class:"" %>
        <%#= image_tag 'lines2.png', class:"" %>
        <%#= image_tag 'img-border.png', class:"" %>

        <footer style="display: flex; justify-content: space-between; align-items: center;">
            <div class="footer-content">
                <div class="additional-info">
                    <div class="copyright">
                        &copy; <%= Time.now.year %> Todos os direitos reservados
                    </div>
                </div>
            </div>
            <div class="developer-info">
                Desenvolvido por: 
            <a href="https://www.linkedin.com/in/larissa-sevilha-378718217/" target="_blank">
                <%= image_tag 'ls.png', class: "img-footer" %>
                </a> 
            </div>
        </footer> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <a href="https://api.whatsapp.com/send?phone=5567999784414&text=Adorei%20seu%20artigo" style="position:fixed;width:60px;height:60px;bottom:40px;right:40px;color:#FFF;border-radius:50px;text-align:center;font-size:30px;" target="_blank">
    <i style="margin-top:16px" class="fa fa-whatsapp"></i>
    </a>
    </div>
</div>
 
  

